n8n-workflows/4_chatbot_velib_llm.json
{
  "name": "Chatbot Vélib LLM",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "(SELECT name, occupancy_pct, num_bikes_available, num_docks_available FROM v_station_occupancy ORDER BY occupancy_pct ASC LIMIT 10) UNION ALL (SELECT name, occupancy_pct, num_bikes_available, num_docks_available FROM v_station_occupancy ORDER BY occupancy_pct DESC LIMIT 10);"
      },
      "name": "Données Stations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer wYcLh1ETugZychfun5DdLS5oDnxssUWU"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'mistral-small-latest',messages:[{role:'system',content:'Tu es un assistant expert des stations Vélib à Paris. Réponds en français de manière concise. Utilise des emojis. Données: ' + JSON.stringify($('Données Stations').all().map(function(i){return i.json}))},{role:'user',content:$('Telegram Trigger').item.json.message.text}]}) }}"
      },
      "name": "Mistral LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🤖 Assistant Vélib\n\n{{ $json.choices[0].message.content }}"
      },
      "name": "Réponse Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Données Stations", "type": "main", "index": 0 }]]
    },
    "Données Stations": {
      "main": [[{ "node": "Mistral LLM", "type": "main", "index": 0 }]]
    },
    "Mistral LLM": {
      "main": [[{ "node": "Réponse Telegram", "type": "main", "index": 0 }]]
    }
  },
  "active": false
}
